@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');

@font-face {
                          font-family: "OpenSans-SemiBold";
                          src: url('../fonts/OpenSans-SemiBold.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "OpenSans-Regular";
                          src: url('../fonts/OpenSans-Regular.ttf') format("truetype");
                        }
                        
.index {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 667px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(242, 242, 242, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.index .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 275px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.index .a25660 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 116px;
  height              : 26px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 330px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.index .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 57px;
  height              : 110px;
  width               : 110px;
  position            : absolute;
  margin              : 0;
  left                : 133px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.index .armangokdemir {
  background-color    : rgba(255,255,255,0.0);
  top                 : 174px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 102px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 27.0px;
}
.index .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 275px;
  height              : 100px;
  width               : 188px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.index .rectanglecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 275px;
  height              : 100px;
  width               : 187px;
  position            : absolute;
  margin              : 0;
  left                : 188px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.index .flights {
  background-color    : rgba(255,255,255,0.0);
  top                 : 313px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 54px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "OpenSans-SemiBold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.index .see {
  background-color    : rgba(255,255,255,0.0);
  top                 : 292px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 77px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "OpenSans-Regular", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.index .flights1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 310px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 242px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "OpenSans-SemiBold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.index .findnew {
  background-color    : rgba(255,255,255,0.0);
  top                 : 292px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 234px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "OpenSans-Regular", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.index .a59439 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 44px;
  height              : 26px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 330px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.index .a87390 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 80px;
  height              : 26px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 330px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.index .a855milespoint {
  background-color    : rgba(255,255,255,0.0);
  top                 : 207px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 135px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Light", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.index .a104618 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 232px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 176px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.index .rectanglecopy1 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 375px;
  height              : 267px;
  width               : 327px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.index .advantages {
  background-color    : rgba(255,255,255,0.0);
  top                 : 389px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(81, 81, 81, 1.0);
  text-align          : left;
  line-height         : 25.0px;
}
.index .a64005 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 427px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.index .loremipsumdolor {
  background-color    : rgba(255,255,255,0.0);
  top                 : 427px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 69px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(214, 214, 214, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.index .a64005copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 455px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.index .aeneanvestibulumgr {
  background-color    : rgba(255,255,255,0.0);
  top                 : 455px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 69px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(214, 214, 214, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.index .a64005copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 483px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.index .fuscevelfeugiat {
  background-color    : rgba(255,255,255,0.0);
  top                 : 483px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 69px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(214, 214, 214, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.index .a64005copy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 511px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.index .duisblanditsapien {
  background-color    : rgba(255,255,255,0.0);
  top                 : 511px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 69px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(214, 214, 214, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.index .a64005copy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 536px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.index .utsit {
  background-color    : rgba(255,255,255,0.0);
  top                 : 536px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 69px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(214, 214, 214, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.index .readmore {
  background-color    : rgba(255,255,255,0.0);
  top                 : 574px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 115px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "OpenSans-SemiBold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(23, 185, 120, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.index .a130903 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 581px;
  height              : 27px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 235px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}