@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');

@font-face {
                          font-family: "OpenSans-SemiBold";
                          src: url('../fonts/OpenSans-SemiBold.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "OpenSans-Regular";
                          src: url('../fonts/OpenSans-Regular.ttf') format("truetype");
                        }
                        
.iphone8 {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 667px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(241, 241, 241, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.iphone8 .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 275px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.iphone8 .group .worldmappng {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 275px;
  width               : 375px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.iphone8 .group .worldmappng .mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 275px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.iphone8 .group .worldmappng .worldmappng1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -20px;
  height              : 336px;
  width               : 639px;
  position            : absolute;
  margin              : 0;
  left                : -140px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.iphone8 .yourflighttoistan {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "OpenSans-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.iphone8 .yourflighttoistan .span1 {
  line-height         : 41.0px;
}
.iphone8 .yourflighttoistan .span2 {
  font-family         : "OpenSans-SemiBold", Helvetica, Arial, serif;
  font-size           : 28.0px;
  line-height         : 38.0px;
}
.iphone8 .capetown {
  background-color    : rgba(255,255,255,0.0);
  top                 : 227px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "OpenSans-SemiBold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.iphone8 .origin {
  background-color    : rgba(255,255,255,0.0);
  top                 : 206px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "OpenSans-Regular", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.iphone8 .istanbul {
  background-color    : rgba(255,255,255,0.0);
  top                 : 227px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 258px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "OpenSans-SemiBold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.iphone8 .destination {
  background-color    : rgba(255,255,255,0.0);
  top                 : 206px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 258px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "OpenSans-Regular", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.iphone8 .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 258px;
  height              : 8px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 193px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.iphone8 .ovalcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 102px;
  height              : 8px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 207px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.iphone8 .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 104px;
  height              : 159px;
  width               : 23px;
  position            : absolute;
  margin              : 0;
  left                : 190px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.iphone8 .linecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 110px;
  height              : 150px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 194px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.36;
}
.iphone8 .a31069 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 171px;
  height              : 31px;
  width               : 31px;
  position            : absolute;
  margin              : 0;
  left                : 178px;
  -ms-transform       : rotate(-38deg); /* IE 9 */
  -webkit-transform   : rotate(-38deg); /* Chrome, Safari, Opera */
  transform           : rotate(-38deg);
}
.iphone8 .rectangle {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 275px;
  height              : 284px;
  width               : 327px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.iphone8 .passenger {
  background-color    : rgba(255,255,255,0.0);
  top                 : 289px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(214, 214, 214, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.iphone8 .armangokdemir {
  background-color    : rgba(255,255,255,0.0);
  top                 : 312px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(81, 81, 81, 1.0);
  text-align          : left;
  line-height         : 27.0px;
}
.iphone8 .departuretime {
  background-color    : rgba(255,255,255,0.0);
  top                 : 393px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(214, 214, 214, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.iphone8 .a645ampst {
  background-color    : rgba(255,255,255,0.0);
  top                 : 416px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(81, 81, 81, 1.0);
  text-align          : left;
  line-height         : 27.0px;
}
.iphone8 .flight {
  background-color    : rgba(255,255,255,0.0);
  top                 : 487px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(214, 214, 214, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.iphone8 .a115a {
  background-color    : rgba(255,255,255,0.0);
  top                 : 510px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(81, 81, 81, 1.0);
  text-align          : left;
  line-height         : 27.0px;
}
.iphone8 .gate {
  background-color    : rgba(255,255,255,0.0);
  top                 : 487px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 168px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(214, 214, 214, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.iphone8 .a24 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 510px;
  height              : auto;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 168px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(81, 81, 81, 1.0);
  text-align          : left;
  line-height         : 27.0px;
}
.iphone8 .seat {
  background-color    : rgba(255,255,255,0.0);
  top                 : 487px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 293px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(214, 214, 214, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.iphone8 .a32b {
  background-color    : rgba(255,255,255,0.0);
  top                 : 510px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 293px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(81, 81, 81, 1.0);
  text-align          : left;
  line-height         : 27.0px;
}
.iphone8 .arrivaltime {
  background-color    : rgba(255,255,255,0.0);
  top                 : 393px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 210px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(214, 214, 214, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.iphone8 .a415ampst {
  background-color    : rgba(255,255,255,0.0);
  top                 : 416px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 210px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(81, 81, 81, 1.0);
  text-align          : left;
  line-height         : 27.0px;
}
.iphone8 .u2014u2014u2014u2014u2014 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 490px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 98px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(167, 255, 131, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.iphone8 .u2014u2014u2014u2014u2014copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 489px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 220px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(167, 255, 131, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.iphone8 .rectangle1 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 559px;
  height              : 83px;
  width               : 306px;
  position            : absolute;
  margin              : 0;
  left                : 35px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.iphone8 .oval1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 556px;
  height              : 17px;
  width               : 316px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.2;
}
.iphone8 .oval2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 593px;
  height              : 15px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 28px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.iphone8 .ovalcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 593px;
  height              : 15px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 334px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.iphone8 .frame {
  background-color    : rgba(255,255,255,0.0);
  top                 : 573px;
  height              : 56px;
  width               : 56px;
  position            : absolute;
  margin              : 0;
  left                : 160px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}